In [1]:
import pymysql

## 테이블 생성

In [3]:
queries = [
    '''
    CREATE TABLE BUILDING_KILL (
        match_id BIGINT NOT NULL,
        assist_id INT NULL,
        bounty INT NULL,
        building_type VARCHAR(20) NULL,
        participant_id INT NULL,
        line_type VARCHAR(20) NULL,
        team_id INT NULL,
        timestamp INT NULL,
        tower_type VARCHAR(20) NULL
    );''',
    '''
    CREATE TABLE WARD_PLACED (
        match_id BIGINT NOT NULL,
        participant_id INT NULL,
        timestamp INT NULL,
        ward_type VARCHAR(20) NULL
    );''',
    '''
    CREATE TABLE ELITE_MONSTER_KILL (
        match_id BIGINT NOT NULL,
        assist_id INT NULL,
        bounty INT NULL,
        participant_id INT NULL,
        monster_subtype VARCHAR(20) NULL,
        monster_type VARCHAR(20) NULL,
        timestamp INT NULL
    );''',
    '''
    CREATE TABLE TURRET_PLATE_DESTROYED (
        match_id BIGINT NOT NULL,
        participant_id INT NULL,
        line_type VARCHAR(20) NULL,
        team_id INT NULL,
        timestamp INT NULL
    );''',
    '''
    CREATE TABLE OBJECTIVE_BOUNTY_PRESTART (
        match_id BIGINT NOT NULL,
        actual_starttime INT NULL,
        team_id INT NULL,
        timestamp INT NULL
    );''',
    '''
    CREATE TABLE CHAMPION_KILL (
        match_id BIGINT NOT NULL,
        assist_id INT NULL,
        bounty INT NULL,
        killstreak_length INT NULL,
        participant_id INT NULL,
        shutdown_bounty INT NULL,
        timestamp INT NULL,
        victim_id INT NULL
    );''',
    '''
    CREATE TABLE CHAMPION_SPECIAL_KILL (
        match_id BIGINT NOT NULL,
        kill_type VARCHAR(20) NULL,
        participant_id INT NULL,
        multikil_length INT NULL,
        timestamp INT NULL
    );''',
    '''
    CREATE TABLE ITEM_DESTROYED (
        match_id BIGINT NOT NULL,
        item_id INT NULL,
        participant_id INT NULL,
        timestamp INT NULL
    );''',
    '''
    CREATE TABLE ITEM_PURCHASED (
        match_id BIGINT NOT NULL,
        item_id INT NULL,
        participant_id INT NULL,
        timestamp INT NULL
    );'''
]

In [5]:
conn = pymysql.connect(
    host="localhost",
    user='root',
    password='1221'
)

In [7]:
cur = conn.cursor()

In [9]:
cur.execute('use LOL_data;')

0

In [11]:
for q in queries:
    cur.execute(q)

In [13]:
cur.close()
conn.close()

## 데이터 삽입

In [15]:
import json

path = 'KR_7342260205.json'

with open(path, 'r', encoding='utf-8') as file:
    match_tl = json.load(file)

### DB 연결

In [17]:
conn = pymysql.connect(
    host="localhost",
    user='root',
    password='1221'
)

conn.autocommit(False)
cur = conn.cursor()
cur.execute('use LOL_data;')

0

### 데이터 삽입 쿼리 함수 정의

In [19]:
building_kill = 'BUILDING_KILL'
ward_placed = 'WARD_PLACED'
elite_monster_kill = 'ELITE_MONSTER_KILL'
turret_plate_destroyed = 'TURRET_PLATE_DESTROYED'
objective_bounty_prestart = 'OBJECTIVE_BOUNTY_PRESTART'
champion_kill = 'CHAMPION_KILL'
champion_special_kill = 'CHAMPION_SPECIAL_KILL'
item_destroyed = 'ITEM_DESTROYED'
item_purchased = 'ITEM_PURCHASED'

In [21]:
def assist_id_list2int(data): # assist ID의 리스트를 integer로 변환
    data = [1 if x in data else 0 for x in range(11)]
    return int(''.join(map(str, data)), 2)

def get_assist_id_list(data): # integer를 assist ID의 리스트로 변환
    data = ''.join(['0' for x in range(11 - len(bin(data)[2:]))]) + bin(data)[2:]
    return [i for i in range(len(data)) if data[i] == '1']

In [107]:
def query_insert_buildingKill(event, matchID):
    if 'assistingParticipantIds' in event.keys():
        event['assist_id'] = assist_id_list2int(event['assistingParticipantIds'])
    else: event['assist_id'] = 'null'

    if 'towerType' not in event.keys(): event['towerType'] = 'null'
        
    return f'''insert into {building_kill} (match_id, assist_id, bounty, building_type, participant_id, line_type, team_id, timestamp, tower_type)
            values ({matchID}, {event['assist_id']}, {event['bounty']}, '{event['buildingType']}', {event['killerId']}, '{event['laneType']}',
            {event['teamId']}, {event['timestamp']}, '{event['towerType']}');'''

In [53]:
def query_insert_wardPlaced(event, matchID):
    return f'''insert into {ward_placed} (match_id, participant_id, timestamp, ward_type)
            values ({matchID}, {event['creatorId']}, {event['timestamp']}, '{event['wardType']}');'''

In [83]:
def query_insert_eliteMonsterKill(event, matchID):
    if 'assistingParticipantIds' in event.keys():
        event['assist_id'] = assist_id_list2int(event['assistingParticipantIds'])
    else: event['assist_id'] = 'null'

    if 'monsterSubType' not in event.keys():
        event['monsterSubType'] = 'null'

    return f'''insert into {elite_monster_kill} (match_id, assist_id, bounty, participant_id, monster_subtype, monster_type, timestamp)
            values ({matchID}, {event['assist_id']}, {event['bounty']}, {event['killerId']}, '{event['monsterSubType']}', '{event['monsterType']}',
            {event['timestamp']});'''

In [57]:
def query_insert_turretPlateDestroyed(event, matchID):
    return f'''insert into {turret_plate_destroyed} (match_id, participant_id, line_type, team_id, timestamp)
            values ({matchID}, {event['killerId']}, '{event['laneType']}', {event['teamId']}, {event['timestamp']});'''

In [31]:
def query_insert_objectiveBountyPrestart(event, matchID):
    return f'''insert into {objective_bounty_prestart} (match_id, actual_starttime, team_id, timestamp)
            values ({matchID}, {event['actualStartTime']}, {event['teamId']}, {event['timestamp']});'''

In [85]:
def query_insert_championKill(event, matchID):
    if 'assistingParticipantIds' in event.keys():
        event['assist_id'] = assist_id_list2int(event['assistingParticipantIds'])
    else: event['assist_id'] = 'null'

    return f'''insert into {champion_kill} (match_id, assist_id, bounty, killstreak_length, participant_id, shutdown_bounty, timestamp, victim_id)
            values ({matchID}, {event['assist_id']}, {event['bounty']}, {event['killStreakLength']}, {event['killerId']}, {event['shutdownBounty']},
            {event['timestamp']}, {event['victimId']});'''

In [99]:
def query_insert_championSpecialKill(event, matchID):
    if 'multiKillLength' not in event.keys() or event['multiKillLength'] == None:
        event['multiKillLength'] = 'null'
        
    return f'''insert into {champion_special_kill} (match_id, kill_type, participant_id, multikil_length, timestamp)
            values ({matchID}, '{event['killType']}', {event['killerId']}, {event['multiKillLength']}, {event['timestamp']});'''

In [37]:
def query_insert_itemDestroyed(event, matchID):
    return f'''insert into {item_destroyed} (match_id, item_id, participant_id, timestamp)
            values ({matchID}, {event['itemId']}, {event['participantId']}, {event['timestamp']});'''

In [39]:
def query_insert_itemPurchased(event, matchID):
    return f'''insert into {item_purchased} (match_id, item_id, participant_id, timestamp)
            values ({matchID}, {event['itemId']}, {event['participantId']}, {event['timestamp']});'''

### 데이터 삽입 함수 정의

In [71]:
def insert_events(match_tl, cur):
    matchID = int(match_tl['metadata']['matchId'][3:])
    for frame in match_tl['info']['frames']:
        for event in frame['events']:
            print(event['type'])
            query = None
            if event['type'] == building_kill:
                query = query_insert_buildingKill(event, matchID)
            if event['type'] == ward_placed:
                query = query_insert_wardPlaced(event, matchID)
            if event['type'] == elite_monster_kill:
                query = query_insert_eliteMonsterKill(event, matchID)
            if event['type'] == turret_plate_destroyed:
                query = query_insert_turretPlateDestroyed(event, matchID)
            if event['type'] == objective_bounty_prestart:
                query = query_insert_objectiveBountyPrestart(event, matchID)
            if event['type'] == champion_kill:
                query = query_insert_championKill(event, matchID)
            if event['type'] == champion_special_kill:
                query = query_insert_championSpecialKill(event, matchID)
            if event['type'] == item_destroyed:
                query = query_insert_itemDestroyed(event, matchID)
            if event['type'] == item_purchased:
                query = query_insert_itemPurchased(event, matchID)

            if query:
                print(query)
                cur.execute(query)

In [105]:
for frame in match_tl['info']['frames']:
    for event in frame['events']:
        if event['type'] == building_kill:
            print(event)
            print('towerType' in event.keys())
    #print(match_tl['info']['frames'][int(frame)]['events'])

{'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 6, 'laneType': 'TOP_LANE', 'position': {'x': 981, 'y': 10441}, 'teamId': 100, 'timestamp': 750187, 'towerType': 'OUTER_TURRET', 'type': 'BUILDING_KILL', 'assist_id': 'null'}
True
{'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 0, 'laneType': 'BOT_LANE', 'position': {'x': 10504, 'y': 1029}, 'teamId': 100, 'timestamp': 894075, 'towerType': 'OUTER_TURRET', 'type': 'BUILDING_KILL', 'assist_id': 'null'}
True
{'assistingParticipantIds': [9], 'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 7, 'laneType': 'MID_LANE', 'position': {'x': 5846, 'y': 6396}, 'teamId': 100, 'timestamp': 927806, 'towerType': 'OUTER_TURRET', 'type': 'BUILDING_KILL', 'assist_id': 2}
True
{'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 0, 'laneType': 'BOT_LANE', 'position': {'x': 13866, 'y': 4505}, 'teamId': 200, 'timestamp': 1130820, 'towerType': 'OUTER_TURRET', 'type': 'BUILDING_KILL', 'assist_id': 'null'}
True
{'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 6, 'laneType': 'TOP_LANE', 'position': {'x': 1512, 'y': 6699}, 'teamId': 100, 'timestamp': 1134494, 'towerType': 'INNER_TURRET', 'type': 'BUILDING_KILL', 'assist_id': 'null'}
True
{'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 8, 'laneType': 'MID_LANE', 'position': {'x': 5048, 'y': 4812}, 'teamId': 100, 'timestamp': 1331987, 'towerType': 'INNER_TURRET', 'type': 'BUILDING_KILL', 'assist_id': 'null'}
True
{'assistingParticipantIds': [10], 'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 9, 'laneType': 'BOT_LANE', 'position': {'x': 6919, 'y': 1483}, 'teamId': 100, 'timestamp': 1343966, 'towerType': 'INNER_TURRET', 'type': 'BUILDING_KILL', 'assist_id': 1}
True
{'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 6, 'laneType': 'TOP_LANE', 'position': {'x': 1169, 'y': 4287}, 'teamId': 100, 'timestamp': 1405388, 'towerType': 'BASE_TURRET', 'type': 'BUILDING_KILL', 'assist_id': 'null'}
True
{'assistingParticipantIds': [8], 'bounty': 0, 'buildingType': 'INHIBITOR_BUILDING', 'killerId': 7, 'laneType': 'TOP_LANE', 'position': {'x': 1169, 'y': 3573}, 'teamId': 100, 'timestamp': 1447939, 'type': 'BUILDING_KILL', 'assist_id': 4}
False
{'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 8, 'laneType': 'MID_LANE', 'position': {'x': 3651, 'y': 3696}, 'teamId': 100, 'timestamp': 1450277, 'towerType': 'BASE_TURRET', 'type': 'BUILDING_KILL'}
True
{'assistingParticipantIds': [8], 'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 7, 'laneType': 'MID_LANE', 'position': {'x': 1748, 'y': 2270}, 'teamId': 100, 'timestamp': 1461000, 'towerType': 'NEXUS_TURRET', 'type': 'BUILDING_KILL'}
True
{'assistingParticipantIds': [7, 9], 'bounty': 0, 'buildingType': 'TOWER_BUILDING', 'killerId': 8, 'laneType': 'MID_LANE', 'position': {'x': 2177, 'y': 1807}, 'teamId': 100, 'timestamp': 1467914, 'towerType': 'NEXUS_TURRET', 'type': 'BUILDING_KILL'}
True

### 삽입 해보기

In [111]:
insert_events(match_tl, cur)

PAUSE_END
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1055, 6, 1820);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 6, 1820);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1056, 8, 2488);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 8, 3089);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 8, 3190);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 8, 3323);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1101, 7, 3490);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 7, 3858);
SKILL_LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3865, 10, 5294);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 10, 5728);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1055, 4, 5795);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 10, 5928);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3865, 5, 6029);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 5, 6029);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 5, 6029);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 4, 6095);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 4, 6262);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3364, 5, 6496);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1056, 1, 7765);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 7765);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 7765);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1055, 3, 7799);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 3, 8133);
SKILL_LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1101, 2, 9268);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 2, 9803);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 2, 10070);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3364, 10, 11874);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 7, 14278);
ITEM_UNDO
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1055, 9, 19322);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 9, 19322);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 23430, 'UNDEFINED');
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 30144, 'YELLOW_TRINKET');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 37058, 'UNDEFINED');
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 50685, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 1, 52689, 'YELLOW_TRINKET');
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 7, 59970, 'YELLOW_TRINKET');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 64321, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 64855, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 78483, 'UNDEFINED');
WARD_KILL
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 5, 78984, 'UNDEFINED');
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 92110, 'UNDEFINED');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 8, 97490);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 4, 98158, 'YELLOW_TRINKET');
SKILL_LEVEL_UP
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 5, 100963);
SKILL_LEVEL_UP
LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 104771, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 104905, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 105740, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 106274, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 6, 109981, 'YELLOW_TRINKET');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 10, 110449);
WARD_KILL
LEVEL_UP
SKILL_LEVEL_UP
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 8, 116427);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 119634, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 120101, 'UNDEFINED');
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 126180, 'UNDEFINED');
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 132927, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 132993, 'UNDEFINED');
LEVEL_UP
SKILL_LEVEL_UP
LEVEL_UP
LEVEL_UP
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
LEVEL_UP
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 144349, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 144516, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 146353, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 8, 146754, 'YELLOW_TRINKET');
LEVEL_UP
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 152498, 'UNDEFINED');
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 154636, 'UNDEFINED');
SKILL_LEVEL_UP
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 157341, 'UNDEFINED');
SKILL_LEVEL_UP
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 159445, 'UNDEFINED');
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 164288, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 169231, 'UNDEFINED');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 170867);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 172537, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 179384, 'UNDEFINED');
LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 182665, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 9, 183366, 'YELLOW_TRINKET');
LEVEL_UP
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 9, 184903);
CHAMPION_KILL
insert into CHAMPION_KILL (match_id, assist_id, bounty, killstreak_length, participant_id, shutdown_bounty, timestamp, victim_id)
            values (7342260205, 1, 400, 0, 9, 0,
            186339, 5);
CHAMPION_SPECIAL_KILL
insert into CHAMPION_SPECIAL_KILL (match_id, kill_type, participant_id, multikil_length, timestamp)
            values (7342260205, 'KILL_FIRST_BLOOD', 9, null, 186339);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 186974, 'UNDEFINED');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 4, 187374);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2010, 10, 188176);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2010, 4, 190948);
LEVEL_UP
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 6, 192050);
SKILL_LEVEL_UP
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 196359);
SKILL_LEVEL_UP
LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1001, 5, 199665);
SKILL_LEVEL_UP
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 202471, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 202738, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 3, 202838, 'YELLOW_TRINKET');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 202905, 'UNDEFINED');
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 203005, 'UNDEFINED');
CHAMPION_KILL
insert into CHAMPION_KILL (match_id, assist_id, bounty, killstreak_length, participant_id, shutdown_bounty, timestamp, victim_id)
            values (7342260205, 256, 300, 0, 1, 0,
            205744, 6);
LEVEL_UP
LEVEL_UP
SKILL_LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1042, 6, 208483);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1042, 6, 208616);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 3, 209551);
LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 215229, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 215830, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 216031, 'UNDEFINED');
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 6, 216498);
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3070, 1, 222747);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1028, 1, 223682);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 225419);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 226287, 'UNDEFINED');
LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 228659, 'UNDEFINED');
CHAMPION_KILL
insert into CHAMPION_KILL (match_id, assist_id, bounty, killstreak_length, participant_id, shutdown_bounty, timestamp, victim_id)
            values (7342260205, 1, 300, 1, 9, 0,
            230731, 4);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 231065, 'UNDEFINED');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 5, 234505);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1036, 4, 234639);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2031, 4, 235307);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 7, 244925, 'YELLOW_TRINKET');
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3020, 2, 245393);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 2, 246529);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3364, 2, 246529);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1036, 7, 247731);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3070, 3, 247931);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 1, 248232, 'YELLOW_TRINKET');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1036, 7, 248766);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 6690, 7, 248766);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1042, 8, 248900);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2055, 7, 249234);
LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2031, 8, 249802);
SKILL_LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1036, 3, 250570);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 3, 250904);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 7, 251238);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3364, 7, 251238);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1082, 8, 253818);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 256022);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1053, 9, 256991);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1042, 9, 257893);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2031, 9, 258561);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 259396, 'UNDEFINED');
ITEM_UNDO
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 6, 264639);
LEVEL_UP
CHAMPION_KILL
insert into CHAMPION_KILL (match_id, assist_id, bounty, killstreak_length, participant_id, shutdown_bounty, timestamp, victim_id)
            values (7342260205, null, 267, 1, 1, 0,
            265073, 6);
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 267712, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 267846, 'UNDEFINED');
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1042, 6, 271019);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 272221, 'UNDEFINED');
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 278935, 'UNDEFINED');
SKILL_LEVEL_UP
LEVEL_UP
LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED

In [113]:
conn.commit()

In [109]:
conn.rollback()