In [38]:
import pymysql
from sqlalchemy import create_engine
import os
import json
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
from operator import itemgetter

In [39]:
import traceback
from datetime import datetime

## 데이터 삽입

In [40]:
match_id_list = pd.read_csv('data/match_id_list.csv', usecols=['match_id'], low_memory=False)
len(match_id_list)

FileNotFoundError: [Errno 2] No such file or directory: 'data/match_id_list.csv'

In [ ]:
match_id_list.duplicated().sum()

NameError: name 'match_id_list' is not defined

In [ ]:
match_id_list = match_id_list['match_id']

NameError: name 'match_id_list' is not defined

In [ ]:
jsonDir = './data/match_timeline'
matchDir = './data/match'

In [ ]:
listDir = os.listdir(jsonDir)

### DB 연결

In [ ]:
conn = pymysql.connect(
    host="localhost",
    user='root',
    password='sometimesgot4@'
)

conn.autocommit(False)
cur = conn.cursor()
cur.execute('use devProj_final;')

user = 'admion'
password = 'LivewithPain8~'
host = 'localhost'
port = '3306'
database = 'devProj_final'

testString = f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}'
print(testString)

engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

mysql+pymysql://admion:LivewithPain8~@localhost:3306/devProj_final

In [ ]:
connection = engine.connect()

### 데이터 삽입 쿼리 함수 정의

In [ ]:
building_kill = 'BUILDING_KILL'
ward_placed = 'WARD_PLACED'
elite_monster_kill = 'ELITE_MONSTER_KILL'
turret_plate_destroyed = 'TURRET_PLATE_DESTROYED'
objective_bounty_prestart = 'OBJECTIVE_BOUNTY_PRESTART'
champion_kill = 'CHAMPION_KILL'
champion_special_kill = 'CHAMPION_SPECIAL_KILL'
item_destroyed = 'ITEM_DESTROYED'
item_purchased = 'ITEM_PURCHASED'
item_sold = "ITEM_SOLD"
game_end = "GAME_END"
level_up = "LEVEL_UP"
skill_level_up = "SKILL_LEVEL_UP"
ward_kill =  "WARD_KILL"

In [78]:
def assist_id_list2int(data): # assist ID의 리스트를 integer로 변환
    data = [1 if x in data else 0 for x in range(11)]
    return int(''.join(map(str, data)), 2)

def get_assist_id_list(data): # integer를 assist ID의 리스트로 변환
    data = ''.join(['0' for x in range(11 - len(bin(data)[2:]))]) + bin(data)[2:]
    return [i for i in range(len(data)) if data[i] == '1']

In [79]:
def query_insert_buildingKill(event, matchID):
    if 'assistingParticipantIds' in event.keys():
        event['assist_id'] = assist_id_list2int(event['assistingParticipantIds'])
    else: event['assist_id'] = 'null'

    if 'towerType' not in event.keys(): event['towerType'] = 'null'
        
    return f'''insert into {building_kill} (match_id, assist_id, bounty, building_type, participant_id, line_type, team_id, timestamp, tower_type)
            values ({matchID}, {event['assist_id']}, {event['bounty']}, '{event['buildingType']}', {event['killerId']}, '{event['laneType']}',
            {event['teamId']}, {event['timestamp']}, '{event['towerType']}');'''

In [80]:
def query_insert_wardPlaced(event, matchID):
    return f'''insert into {ward_placed} (match_id, participant_id, timestamp, ward_type)
            values ({matchID}, {event['creatorId']}, {event['timestamp']}, '{event['wardType']}');'''

In [81]:
def query_insert_eliteMonsterKill(event, matchID):
    if 'assistingParticipantIds' in event.keys():
        event['assist_id'] = assist_id_list2int(event['assistingParticipantIds'])
    else: event['assist_id'] = 'null'

    if 'monsterSubType' not in event.keys():
        event['monsterSubType'] = 'null'

    return f'''insert into {elite_monster_kill} (match_id, assist_id, bounty, participant_id, monster_subtype, monster_type, timestamp)
            values ({matchID}, {event['assist_id']}, {event['bounty']}, {event['killerId']}, '{event['monsterSubType']}', '{event['monsterType']}',
            {event['timestamp']});'''

In [82]:
def query_insert_turretPlateDestroyed(event, matchID):
    return f'''insert into {turret_plate_destroyed} (match_id, participant_id, line_type, team_id, timestamp)
            values ({matchID}, {event['killerId']}, '{event['laneType']}', {event['teamId']}, {event['timestamp']});'''

In [83]:
def query_insert_objectiveBountyPrestart(event, matchID):
    return f'''insert into {objective_bounty_prestart} (match_id, actual_starttime, team_id, timestamp)
            values ({matchID}, {event['actualStartTime']}, {event['teamId']}, {event['timestamp']});'''

In [84]:
def query_insert_championKill(event, matchID):
    if 'assistingParticipantIds' in event.keys():
        event['assist_id'] = assist_id_list2int(event['assistingParticipantIds'])
    else: event['assist_id'] = 'null'

    return f'''insert into {champion_kill} (match_id, assist_id, bounty, killstreak_length, participant_id, shutdown_bounty, timestamp, victim_id)
            values ({matchID}, {event['assist_id']}, {event['bounty']}, {event['killStreakLength']}, {event['killerId']}, {event['shutdownBounty']},
            {event['timestamp']}, {event['victimId']});'''

In [85]:
def query_insert_championSpecialKill(event, matchID):
    if 'multiKillLength' not in event.keys() or event['multiKillLength'] == None:
        event['multiKillLength'] = 'null'
        
    return f'''insert into {champion_special_kill} (match_id, kill_type, participant_id, multikil_length, timestamp)
            values ({matchID}, '{event['killType']}', {event['killerId']}, {event['multiKillLength']}, {event['timestamp']});'''

In [86]:
def query_insert_itemDestroyed(event, matchID):
    return f'''insert into {item_destroyed} (match_id, item_id, participant_id, timestamp)
            values ({matchID}, {event['itemId']}, {event['participantId']}, {event['timestamp']});'''

In [87]:
def query_insert_itemPurchased(event, matchID):
    return f'''insert into {item_purchased} (match_id, item_id, participant_id, timestamp)
            values ({matchID}, {event['itemId']}, {event['participantId']}, {event['timestamp']});'''

### 데이터 삽입 함수 정의

In [88]:
def insert_events(match_tl, cur):
    matchID = int(match_tl['metadata']['matchId'].split('_')[-1])
    for frame in match_tl['info']['frames']:
        for event in frame['events']:
            # print(event['type'])
            query = None
            if event['type'] == building_kill:
                query = query_insert_buildingKill(event, matchID)
            if event['type'] == ward_placed:
                query = query_insert_wardPlaced(event, matchID)
            if event['type'] == elite_monster_kill:
                query = query_insert_eliteMonsterKill(event, matchID)
            if event['type'] == turret_plate_destroyed:
                query = query_insert_turretPlateDestroyed(event, matchID)
            if event['type'] == objective_bounty_prestart:
                query = query_insert_objectiveBountyPrestart(event, matchID)
            if event['type'] == champion_kill:
                query = query_insert_championKill(event, matchID)
            if event['type'] == champion_special_kill:
                query = query_insert_championSpecialKill(event, matchID)
            if event['type'] == item_destroyed:
                query = query_insert_itemDestroyed(event, matchID)
            if event['type'] == item_purchased:
                query = query_insert_itemPurchased(event, matchID)

            if query:
                # print(query)
                cur.execute(query)

In [ ]:
champstatscols = {
    'abilityHaste': 'abilityHaste',
    'abilityPower': 'abilityPower',
    'armor': 'armor',
    'armorPen': 'armorpen',
    'armorPenPercent': 'armorpen_percent',
    'attackDamage': 'attackdamage',
    'attackSpeed': 'attackspeed',
    'bonusArmorPenPercent': 'bonus_app',
    'bonusMagicPenPercent': 'bonus_mpp',
    'ccReduction': 'cc_reduction',
    'cooldownReduction': 'cd_reduction',
    'health': 'health',
    'healthMax': 'health_max',
    'healthRegen': 'health_regen',
    'lifesteal': 'lifesteal',
    'magicPen': 'magicpen',
    'magicPenPercent': 'magicpenpercent',
    'magicResist': 'magicresist',
    'movementSpeed': 'movement_speed',
    'omnivamp': 'omnivamp',
    'physicalVamp': 'physicalvamp',
    'power': 'power',
    'powerMax': 'power_max',
    'powerRegen': 'power_regen',
    'spellVamp': 'spellvamp',
    'participantId': 'participant_id',
    'currentGold': 'current_gold',
    'magicDamageDone': 'magic__damage_done',
    'magicDamageDoneToChampions': 'mdd_to_champion',
    'magicDamageTaken': 'magic_damage_taken',
    'physicalDamageDone': 'physic_damage_done',
    'physicalDamageDoneToChampions': 'pdd_to_champion',
    'physicalDamageTaken': 'physic_damage_taken',
    'totalDamageDone': 'toal_damage_done',
    'totalDamageDoneToChampions': 'tdd_to_champion',
    'totalDamageTaken': 'total_damage_taken',
    'trueDamageDone': 'true_damage_done',
    'trueDamageDoneToChampions': 'truedamage_to_champion',
    'trueDamageTaken': 'true_damage_taken',
    'goldPerSecond': 'gold_per_second',
    'jungleMinionKilled': 'jungle_killed',
    'level': 'level',
    'minionKilled': 'minion_killed',
    'timeEnemySpendControlled': 'time_enemy_controlled',
    'totalGold': 'total_gold',
    'xp': 'xp',
    'timestamp': 'timestamp'
}

In [75]:
def getChampionData(matchData):
    championList = list()
    matchId = matchData['metadata']['matchId'] 
    matchId = matchId.split('_')[1]
    for championData in matchData['info']['participants']:
        values = itemgetter(*['participantId', 'championId'])(championData)
        championList.append((matchId,)+ values  )

    cols = ['match_id', 'participant_id', 'champion_id']
    championDataDf= pd.DataFrame(championList, columns = cols, ) # ['matchId', 'participantId', 'championId']
    championDataDf.to_sql('champion_participant_id', con=engine, if_exists='append', index=False)

    return matchId

def getChampionStats(infoFrameData, matchId):
    resultFrame = []
    for i in range(0, len(infoFrameData),1):
        for pN in range(1, 9, 1):
            resultFrame.append({**infoFrameData[i]['participantFrames'][str(pN)]['championStats'],\
                       'participantId' : infoFrameData[i]['participantFrames'][str(pN)]['participantId'],\
                       'currentGold': infoFrameData[i]['participantFrames'][str(pN)]['currentGold'],\
                        **infoFrameData[i]['participantFrames'][str(pN)]['damageStats'],\
                        'goldPerSecond':infoFrameData[i]['participantFrames'][str(pN)]['goldPerSecond'],\
                        'jungleMinionKilled': infoFrameData[i]['participantFrames'][str(pN)]['jungleMinionsKilled'],\
                        'level': infoFrameData[i]['participantFrames'][str(pN)]['level'],\
                        'minionKilled': infoFrameData[i]['participantFrames'][str(pN)]['minionsKilled'],\
                        'timeEnemySpendControlled':infoFrameData[i]['participantFrames'][str(pN)]['timeEnemySpentControlled'],\
                        'totalGold':infoFrameData[i]['participantFrames'][str(pN)]['totalGold'],\
                        'xp':infoFrameData[i]['participantFrames'][str(pN)]['xp'], 'timestamp': i},)
    
    resultFrameDf = pd.DataFrame(resultFrame)
    resultFrameDf['match_id'] = matchId

    resultFrameDf.to_sql('champion_stat_per_timestamp', con=engine, if_exists='append', index=False)

def convertToDf(bucketData,  matchId):
    
    bucketDf = pd.DataFrame(bucketData)
    
    bucketDf['matchId'] = int(matchId)

    if 'type' in bucketDf.columns:
          bucketDf = bucketDf.drop(columns=['type'], axis=1)
        

    return bucketDf

def getgameLogData(matchLineData, matchId, engine):
    
    itemSoldBucket = list()
    gameEndBucket = list()
    levelUpBucket = list()
    skilLevelUpBucket = list()
    wardKillBucket = list()

    for i in range(0, len(matchLineData),1):
        elementData = matchLineData[i]['events']

        for e in elementData : 
                if e['type'] == "ITEM_SOLD":
                       
                        itemSoldBucket.append(e)
    
                if e['type'] == "GAME_END":
                        e =  {key: value for key, value in e.items() if key not in ['gameId']}
                        print(e)
                        gameEndBucket.append(e)
    
                if e['type'] == "LEVEL_UP":
                        levelUpBucket.append(e)

                if e['type'] == "SKILL_LEVEL_UP":
                        skilLevelUpBucket.append(e)
    
                if e['type'] ==  "WARD_KILL":
                        wardKillBucket.append(e)
    



    itemSoldDf = convertToDf(itemSoldBucket, matchId)
    gameEndDf = convertToDf(gameEndBucket, matchId)
    levelUpDf = convertToDf(levelUpBucket, matchId)
    skillLevelUpDf = convertToDf(skilLevelUpBucket, matchId)
    wardKillDf = convertToDf(wardKillBucket, matchId)

    print(itemSoldDf.columns)

    itemSoldDf.columns = ['item_id', 'participant_id', 'timestamp', 'match_id']
    gameEndDf.columns = ['real_timestamp', 'timestamp', 'winning_team', 'match_id']
    levelUpDf.columns = ['level', 'participant_id', 'timestamp', 'match_id']
    skillLevelUpDf.columns = ['levelup_type', 'participant_id', 'skill_slot', 'timestamp', 'match_id']
    wardKillDf.columns = ['participant_id', 'timestamp', 'ward_type', 'match_id']

    itemSoldDf.to_sql(item_sold, con=engine, if_exists='append', index=False)
    gameEndDf.to_sql(game_end, con=engine, if_exists='append', index=False)
    levelUpDf.to_sql(level_up, con=engine, if_exists='append', index=False)
    skillLevelUpDf.to_sql(skill_level_up, con=engine, if_exists='append', index=False)
    wardKillDf.to_sql(ward_kill, con=engine, if_exists='append', index=False)


    #각각 csv로 변환

    # itemSoldDf.to_csv(os.path.join(fileOutputDir, f'{matchId}_ITEM_SOLD.csv'))
    # gameEndDf.to_csv( os.path.join(fileOutputDir, f'{matchId}_GAME_END.csv'))
    # levelUpDf.to_csv( os.path.join(fileOutputDir, f'{matchId}_LEVEL_UP.csv'))
    # skillLevelUpDf.to_csv( os.path.join(fileOutputDir, f'{matchId}_SKILL_LEVEL_UP.csv'))
    # wardKillDf.to_csv( os.path.join(fileOutputDir, f'{matchId}_WARD_KILL.csv'))

    #return  itemSoldDf, gameEndDf, levelUpDf, skillLevelUpDf, wardKillDf

In [ ]:
for frame in match_tl['info']['frames']:
    for event in frame['events']:
        if event['type'] == building_kill:
            print(event)
            print('towerType' in event.keys())
    #print(match_tl['info']['frames'][int(frame)]['events'])

NameError: name 'match_tl' is not defined

### 삽입 해보기

In [ ]:
insert_events(match_tl, cur)

PAUSE_END
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1055, 6, 1820);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 6, 1820);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1056, 8, 2488);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 8, 3089);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 8, 3190);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 8, 3323);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1101, 7, 3490);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 7, 3858);
SKILL_LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3865, 10, 5294);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 10, 5728);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1055, 4, 5795);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 10, 5928);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3865, 5, 6029);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 5, 6029);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 5, 6029);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 4, 6095);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 4, 6262);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3364, 5, 6496);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1056, 1, 7765);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 7765);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 7765);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1055, 3, 7799);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 3, 8133);
SKILL_LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1101, 2, 9268);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 2, 9803);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 2, 10070);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3364, 10, 11874);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 7, 14278);
ITEM_UNDO
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1055, 9, 19322);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 9, 19322);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 23430, 'UNDEFINED');
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 30144, 'YELLOW_TRINKET');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 37058, 'UNDEFINED');
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 50685, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 1, 52689, 'YELLOW_TRINKET');
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 7, 59970, 'YELLOW_TRINKET');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 64321, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 64855, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 78483, 'UNDEFINED');
WARD_KILL
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 5, 78984, 'UNDEFINED');
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 92110, 'UNDEFINED');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 8, 97490);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 4, 98158, 'YELLOW_TRINKET');
SKILL_LEVEL_UP
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 5, 100963);
SKILL_LEVEL_UP
LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 104771, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 104905, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 105740, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 106274, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 6, 109981, 'YELLOW_TRINKET');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 10, 110449);
WARD_KILL
LEVEL_UP
SKILL_LEVEL_UP
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 8, 116427);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 119634, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 120101, 'UNDEFINED');
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 126180, 'UNDEFINED');
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 132927, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 132993, 'UNDEFINED');
LEVEL_UP
SKILL_LEVEL_UP
LEVEL_UP
LEVEL_UP
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
LEVEL_UP
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 144349, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 144516, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 146353, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 8, 146754, 'YELLOW_TRINKET');
LEVEL_UP
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 152498, 'UNDEFINED');
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 154636, 'UNDEFINED');
SKILL_LEVEL_UP
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 157341, 'UNDEFINED');
SKILL_LEVEL_UP
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 159445, 'UNDEFINED');
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 164288, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 169231, 'UNDEFINED');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 170867);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 172537, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 179384, 'UNDEFINED');
LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 182665, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 9, 183366, 'YELLOW_TRINKET');
LEVEL_UP
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 9, 184903);
CHAMPION_KILL
insert into CHAMPION_KILL (match_id, assist_id, bounty, killstreak_length, participant_id, shutdown_bounty, timestamp, victim_id)
            values (7342260205, 1, 400, 0, 9, 0,
            186339, 5);
CHAMPION_SPECIAL_KILL
insert into CHAMPION_SPECIAL_KILL (match_id, kill_type, participant_id, multikil_length, timestamp)
            values (7342260205, 'KILL_FIRST_BLOOD', 9, null, 186339);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 186974, 'UNDEFINED');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 4, 187374);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2010, 10, 188176);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2010, 4, 190948);
LEVEL_UP
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 6, 192050);
SKILL_LEVEL_UP
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 196359);
SKILL_LEVEL_UP
LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1001, 5, 199665);
SKILL_LEVEL_UP
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 202471, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 202738, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 3, 202838, 'YELLOW_TRINKET');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 202905, 'UNDEFINED');
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 203005, 'UNDEFINED');
CHAMPION_KILL
insert into CHAMPION_KILL (match_id, assist_id, bounty, killstreak_length, participant_id, shutdown_bounty, timestamp, victim_id)
            values (7342260205, 256, 300, 0, 1, 0,
            205744, 6);
LEVEL_UP
LEVEL_UP
SKILL_LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1042, 6, 208483);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1042, 6, 208616);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 3, 209551);
LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 215229, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 215830, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 216031, 'UNDEFINED');
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 6, 216498);
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3070, 1, 222747);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1028, 1, 223682);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 225419);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 226287, 'UNDEFINED');
LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 228659, 'UNDEFINED');
CHAMPION_KILL
insert into CHAMPION_KILL (match_id, assist_id, bounty, killstreak_length, participant_id, shutdown_bounty, timestamp, victim_id)
            values (7342260205, 1, 300, 1, 9, 0,
            230731, 4);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 231065, 'UNDEFINED');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 5, 234505);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1036, 4, 234639);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2031, 4, 235307);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 7, 244925, 'YELLOW_TRINKET');
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3020, 2, 245393);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 2, 246529);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3364, 2, 246529);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1036, 7, 247731);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3070, 3, 247931);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 1, 248232, 'YELLOW_TRINKET');
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1036, 7, 248766);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 6690, 7, 248766);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1042, 8, 248900);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2055, 7, 249234);
LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2031, 8, 249802);
SKILL_LEVEL_UP
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1036, 3, 250570);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 3, 250904);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3340, 7, 251238);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 3364, 7, 251238);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1082, 8, 253818);
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 1, 256022);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1053, 9, 256991);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1042, 9, 257893);
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2031, 9, 258561);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 259396, 'UNDEFINED');
ITEM_UNDO
ITEM_DESTROYED
insert into ITEM_DESTROYED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 2003, 6, 264639);
LEVEL_UP
CHAMPION_KILL
insert into CHAMPION_KILL (match_id, assist_id, bounty, killstreak_length, participant_id, shutdown_bounty, timestamp, victim_id)
            values (7342260205, null, 267, 1, 1, 0,
            265073, 6);
LEVEL_UP
SKILL_LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 267712, 'UNDEFINED');
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 267846, 'UNDEFINED');
ITEM_PURCHASED
insert into ITEM_PURCHASED (match_id, item_id, participant_id, timestamp)
            values (7342260205, 1042, 6, 271019);
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 272221, 'UNDEFINED');
LEVEL_UP
WARD_PLACED
insert into WARD_PLACED (match_id, participant_id, timestamp, ward_type)
            values (7342260205, 2, 278935, 'UNDEFINED');
SKILL_LEVEL_UP
LEVEL_UP
LEVEL_UP
SKILL_LEVEL_UP
WARD_PLACED

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from datetime import datetime

In [76]:

matchPath = matchDir + '/' + e + '.json'
matchTimelineDir = jsonDir + '/' + e + '.json'
with open(matchTimelineDir) as f:
    data = json.load(f)
with open(matchPath ) as f:
    matchData = json.load(f)

infoFrameData = data['info']['frames']
matchId, championDf = getChampionData(matchData)
getChampionStats(infoFrameData, championDf, matchId)

FileNotFoundError: [Errno 2] No such file or directory: './data/match_timeline/.json'

In [90]:
now = datetime.now()
formatted_time = now.strftime("%Y-%m-%d %H:%M:%S")
print("시작 시각:", formatted_time)

# cnt = 0
regame = []
exceps = []
for element in tqdm(listDir):

        # cnt += 1
        # print(f'{round((cnt / len(match_id_list) * 100), 2)}%..')
        matchPath = matchDir + '/' + element
        matchTimelineDir = jsonDir + '/' + element
        # print(matchPath)
        # print(matchTimelineDir)
        if os.path.isfile(matchPath) and os.path.isfile(matchTimelineDir):
            try:
                # print(f'{e} is processing')
                with open(matchTimelineDir) as f:
                    data = json.load(f)
                with open(matchPath ) as f:
                    matchData = json.load(f)
    
                if matchData['info']['gameDuration'] < 300:
                    print('다시하기 ', element)
                    regame.append(e)
                    continue
            
                infoFrameData = data['info']['frames']
            
                matchId = getChampionData(matchData)
                getChampionStats(infoFrameData, matchId)
                getgameLogData(infoFrameData, matchId, engine)
                insert_events(data, cur)
                
            
            except Exception as err:
                with open("error_log_2.txt", "a") as log_file:
                    print(err)
                    log_file.write(f"File: {element}\n")
                    log_file.write(f"Error: {str(err)}\n")
                    log_file.write(f"Traceback: {traceback.format_exc()}\n")
                    log_file.write("="*40 + "\n")
           
        else: 
            continue

now2 = datetime.now()
formatted_time = now2.strftime("%Y-%m-%d %H:%M:%S")
print("마무리 시각:", formatted_time)
print(f"소요 시간: 약 {(now2 - now).total_seconds() / 60}분")
print(f'regame count: {len(regame)} / exception count: {len(exceps)}')

시작 시각: 2024-11-06 21:06:43

  0%|          | 0/12697 [00:00<?, ?it/s]

{'realTimestamp': 1730478110416, 'timestamp': 1443905, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729704687982, 'timestamp': 1871256, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730371395827, 'timestamp': 1495215, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730489590191, 'timestamp': 1596631, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729479088976, 'timestamp': 1627570, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730483576318, 'timestamp': 1203075, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729493322490, 'timestamp': 1365597, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730025783220, 'timestamp': 911875, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729975851933, 'timestamp': 1980188, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730314234716, 'timestamp': 1484121, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730452484343, 'timestamp': 1892052, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730376059282, 'timestamp': 2146172, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730456132147, 'timestamp': 1384991, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730513291707, 'timestamp': 1591622, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730110919291, 'timestamp': 1432800, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730290701161, 'timestamp': 1385511, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730306260640, 'timestamp': 1321890, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1728949044549, 'timestamp': 1939165, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730325447340, 'timestamp': 1567442, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730129575756, 'timestamp': 1479366, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730302522657, 'timestamp': 1548669, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730391388940, 'timestamp': 1977570, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730372508032, 'timestamp': 2127981, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730385018489, 'timestamp': 1151076, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730209275222, 'timestamp': 1465362, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730461666799, 'timestamp': 1803788, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729581611496, 'timestamp': 913358, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730114812030, 'timestamp': 1187185, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730423275902, 'timestamp': 1627956, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729899748343, 'timestamp': 1432681, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729738995300, 'timestamp': 1507549, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730286239453, 'timestamp': 1331578, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730113555351, 'timestamp': 1632287, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729025985795, 'timestamp': 1149525, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730208267461, 'timestamp': 1434317, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730323352890, 'timestamp': 1942315, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730086310210, 'timestamp': 2511072, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729844454888, 'timestamp': 947283, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730306818054, 'timestamp': 916298, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730460772124, 'timestamp': 1327085, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730222378027, 'timestamp': 1499612, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730030041445, 'timestamp': 1578073, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729406123971, 'timestamp': 1810567, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730214642557, 'timestamp': 2042433, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730380413336, 'timestamp': 1537640, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730464467925, 'timestamp': 912414, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730480234092, 'timestamp': 1576474, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730391018924, 'timestamp': 1478303, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730094764858, 'timestamp': 1985389, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730200856965, 'timestamp': 1314966, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729861959712, 'timestamp': 1443452, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1728719104313, 'timestamp': 915710, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729866403517, 'timestamp': 1867841, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729356501768, 'timestamp': 2465067, 'type': 'GAME_END', 'winningTeam': 100}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1729690173594, 'timestamp': 1588658, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')
{'realTimestamp': 1730445067566, 'timestamp': 1527231, 'type': 'GAME_END', 'winningTeam': 200}
Index(['itemId', 'participantId', 'timestamp', 'matchId'], dtype='object')

KeyboardInterrupt:

In [ ]:
# len(exceps)
t = []
for x in exceps:
    t.append(x[0])

t

['KR_7338250096',
 'KR_7340936729',
 'KR_7346155092',
 'KR_7346470543',
 'KR_7345540082',
 'KR_7336192048',
 'KR_7347838443',
 'KR_7322699435',
 'KR_7346443501',
 'KR_7345514435',
 'KR_7347403209',
 'KR_7348329165',
 'KR_7345649929',
 'KR_7348223893',
 'KR_7346144352',
 'KR_7343190111',
 'KR_7348308760',
 'KR_7345498769',
 'KR_7343941430',
 'KR_7345761350',
 'KR_7346424619',
 'KR_7347266431',
 'KR_7337902013',
 'KR_7334969340',
 'KR_7331926578',
 'KR_7346637943',
 'KR_7344653500',
 'KR_7341544605',
 'KR_7347022301',
 'KR_7344302067',
 'KR_7348833553',
 'KR_7349443702',
 'KR_7349326120',
 'KR_7341593414',
 'KR_7349487734',
 'KR_7343963025',
 'KR_7340418689',
 'KR_7348930564',
 'KR_7348869654',
 'KR_7349081709',
 'KR_7346446054',
 'KR_7344278809',
 'KR_7344200249',
 'KR_7335920598',
 'KR_7347429689',
 'KR_7349144704',
 'KR_7349077597',
 'KR_7331960292',
 'KR_7348600393',
 'KR_7345310533',
 'KR_7343818072',
 'KR_7342661972',
 'KR_7349701495',
 'KR_7335604669',
 'KR_7349715686',
 'KR_7348334280',
 'KR_7348889698',
 'KR_7349802188',
 'KR_7345200779',
 'KR_7343293162',
 'KR_7341880570',
 'KR_7336319893',
 'KR_7348019833',
 'KR_7339513328',
 'KR_7329139778',
 'KR_7345338402',
 'KR_7344039284',
 'KR_7337097234',
 'KR_7337376477',
 'KR_7346490304',
 'KR_7344900554',
 'KR_7349979982',
 'KR_7338554258',
 'KR_7329307822',
 'KR_7338774560',
 'KR_7348913531',
 'KR_7349685844',
 'KR_7349313733',
 'KR_7342845755',
 'KR_7348078657',
 'KR_7335385835',
 'KR_7339218816',
 'KR_7344391457',
 'KR_7336197773',
 'KR_7346031268',
 'KR_7346637512',
 'KR_7343886592',
 'KR_7343482185',
 'KR_7341774279',
 'KR_7346745761',
 'KR_7348009070',
 'KR_7343560580',
 'KR_7342598706',
 'KR_7345521622',
 'KR_7320750846',
 'KR_7338088517',
 'KR_7336391533',
 'KR_7345981372',
 'KR_7344000634',
 'KR_7340294343',
 'KR_7348868484',
 'KR_7322120738',
 'KR_7349068931',
 'KR_7318657358',
 'KR_7336574122',
 'KR_7340420835',
 'KR_7350097297',
 'KR_7323885481',
 'KR_7349761288',
 'KR_7339221605',
 'KR_7350295762',
 'KR_7347974762',
 'KR_7347274093',
 'KR_7346719460',
 'KR_7338331587',
 'KR_7350498223',
 'KR_7350291224',
 'KR_7333053156',
 'KR_7348480855']

In [ ]:
with open('data/match/KR_7338250096.json') as f:
    data = json.load(f)
with open('data/match_timeline/KR_7338250096.json') as f:
    tl = json.load(f)

getChampionStats(tl, getChampionData(data))
# for x in data['info']['frames']:
#     for event in x['events']:
#         print('type' in event.keys())

KeyError: 0

In [ ]:
conn.commit()

In [ ]:
conn.close()

In [ ]:
conn.rollback()